# npm / yarn
node_modules/
npm-debug.log
package-lock.json
yarn-error.log

# file icons
file_icons/*.svg
vscode-material-*
file_icons_unused/
file_icons.zip

# Built SVGs
dist/
review/

# Nuxt build & generate
.nuxt/
public/

# Preview App
svgpreviewer/static/dist

.DS_Store
